
@{
    ViewBag.Title = "CustomerCare";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div style="background-image:url(/Content/images/rr.jpg)">
    <h3 style="color:white;">CustomerCare</h3>
</div>


